.p-element
{padding: 0px !important;}

.p-paginator
{
    padding: 0px !important;
}
.ng-dropdown-panel.ng-select-top {
    width: 100% !important;
}
.Sadad-form-group {
    margin-bottom: 8px !important;
}
.ng-select {
    padding-bottom: 0px !important;
}
.pt0
{
    padding-top: 0px !important;
}
.panel-body {
    padding-top: 0px !important;
}
.tab-menu-heading {
    padding: 11px !important;
}
.ng-dropdown-panel {
    margin-top: 16px !important
}
.iti { width: 100% !important; }